:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --adress-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-button-color: #2196f3;
  --link-text-color: #757575;
  --header-text-color: #212121;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  color: var(--main-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  margin: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sections-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*                       HEADER                 */
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-conect {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
  color: #2196f3;
}
.header-web-logo {
  color: #000000;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-mail-icon {
  fill: #757575;
  margin-right: 10px;
}

.header-tel {
  margin-left: 50px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-tel-icon {
  margin-right: 10px;
}
.header-conect {
  margin-left: auto;
}

/*                 HERO             */

/* MAIN SECTION */
.main-hero-section {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../css/image3/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  flex-direction: column;
  padding: 200px 0px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.hero-btn {
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-btn {
  border-style: none;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
}
/* HERO SECTION */

.hero-responsibility-item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.hero-responsibility-item + .hero-responsibility-item {
  margin-left: 30px;
}
.hero-responsibility-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.hero-list {
  display: flex;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-after-title {
  margin-bottom: 10px;
}

.hero-title-description {
  width: 270px;
}
.hero-section {
  padding-top: 94px;
}

.hero-after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.hero-title-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*                   SECOND-HERO                  */

.hero-image-list {
  display: flex;
}
.hero-image:not(:last-child) {
  margin-right: 30px;
}

/*                TEAM SECTIONS */

.team-names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-proffesion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-names-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
}
.team-social-icon {
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/*                             HERO-CLIENTS */
.regular-customers-list {
  display: flex;
  justify-content: center;
}

.regular-customers-item {
  width: 170px;
  height: 92px;
}
.regular-customers-item:not(:last-child) {
  margin-right: 30px;
}
.regular-customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
}
.regular-customers-icon {
  fill: currentColor;
}
.regular-customers-link:hover,
.regular-customers-link:focus {
  color: #2196f3;
}
.customers {
  background-color: #ffffff;
}
.regular-custumers {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*                  FOOTER            */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--header-text-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: #2196f3;
}
.footer-web-logo {
  color: var(--main-title-color);
}
.footer-adress {
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adress-block {
  margin-right: 70px;
}

.footer-mail {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.adress-list {
  display: block;
}
.footer-item {
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-link-title {
  font-family: Roboto;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-adress-list {
  display: flex;
  justify-content: center;
}

.footer-adress-item {
  width: 44px;
  height: 44px;
}
.footer-adress-item + .footer-adress-item {
  margin-left: 10px;
}
.footer-adress-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #afb1b8;
}
.footer-adress-icon {
  fill: currentColor;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/*                               PORTFOLIO */
.portfolio-hero {
  background-color: #ffffff;
}
/*                PORTFOLIO   - Filters button                 */

.btn-item {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-style: none;
  background: #f5f4fa;
  border-radius: 4px;

  padding: 6px 22px;
  border-width: 0;
  color: var(--header-text-color);
}
.btn-item {
  fill: currentColor;
}

.btn-item:hover,
.btn-item:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}

/*                   Portfolio Project */
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}
.project-titles {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.project-link {
  display: block;
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
